[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "odns"]
	path = odns
	url = https://github.com/jrh-dev/odns
	shallow = true
	registered = true
